.Results{
    width: 90%;
    margin:10px auto 80px;
    text-align: center;
}

.Results .ChosenDay{
    margin-bottom:30px;
}

@media(min-width:65em){
    .Results .ChosenDay{
        margin-bottom:50px;
    }
    
    .Results .DayPicker {
        position:absolute;
        top:3em;
        left:3em;
    }
}

