.Contact_result{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #fff;
    padding: 6px;
    margin:10px;
    justify-content: start;
}

 .Contact_result li{ text-align: center; }

.Contact_result li:first-child{ flex:0 0 100%}
.Contact_result li:nth-child(2){ flex:0 0 100%}
.Contact_result li:nth-child(3){ flex:0 0 100%}
.Contact_result li:nth-child(4){ flex:0 0 100%}


@media (min-width:65em){
    .Contact_result:first-child{margin-top:30px;}
    .Contact_result li{ text-align: left; }
    .Contact_result li:first-child{ flex:0 0 30%}
    .Contact_result li:nth-child(2){ flex:0 0 40%}
    .Contact_result li:nth-child(3){ flex:0 0 20%}
    .Contact_result li:nth-child(4){ flex:0 0 10%}
}

