.Contact_result{
    border:1px solid #fff;
    padding:6px 0;
    margin:10px;
}

table{
    width:100%;
    table-layout: fixed;
}

table td {
    text-align: center;
}

table td:nth-child(1){
    width:30%;
    padding-left: 20px;
    text-align: left;
}

table td:nth-child(2) {
    width: 40%;
    text-align: left;
}