.Auth{
    width:80%;
    margin:0 auto;
}

.Auth form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.Auth form button{
    width:100%;
    padding:20px 0;
}

@media (min-width:699px){ .Auth{ width:70%; }}
@media (min-width:1040px){ .Auth{ width:50%; }}