body{
    background-color: #373d48;
    color:white;
}

.ContactData{
    width: 90%;
    margin:10px auto;
    text-align: center;
}

.SignUp{
    outline:none;
    border: 1px solid #ccc;
    background-color: white;
    font:inherit;
    padding:14px 40px;
    display:block;
    margin:20px auto;
    box-sizing: border-box;
}
.ContactMethod{
    margin:20px 0;
}

.ContactBtns{
    padding:0 20px;
}

.Questions{
    margin:40px 0;
}
.Questions select,
.Questions input,
.Questions textarea
{
    width:80%;
    padding: 10px;
    margin-bottom: 30px;
}
.Questions textarea{
    height: 50px;
}

.Questions h2{
    margin:20px 0 40px;
}
